{% extends "base.html" %}
{% block content %}
<h1>Add Classroom</h1>
<form method="POST" action="{{ url_for('add_classroom') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name">Classroom Name</label>
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="academic_year">Academic Year</label>
        {{ form.academic_year(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Classroom</button>
</form>
{% endblock %}
